# Ignore Webstorm specifics
/.idea/

# Ignore node_modules
/node_modules/
package-lock.json
yarn-error.log
yarn.lock


# Ignore environment
/.env.development
/.env.production
/.env


# Ignore static production build to GITHUB
/build/
/public/

# Ignore caches
.cache/
